@import "tailwindcss";

html {
    @apply !scroll-smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #166534;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #22c55e;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* Style the main viewer container */
.viewer-container {
    @apply rounded-2xl border-2 border-teal-900 overflow-hidden bg-neutral-900;
}

/* Style the image inside the viewer */
.viewer-canvas img {
    @apply rounded-2xl;
}


.social-link-icon 
{
    @apply w-8 md:w-10 hover:scale-125 transition-transform duration-200 ease-in-out;
}

.nav-link {
    @apply text-lg font-semibold p-2 inline-block hover:scale-110 transition-transform duration-200 ease-in-out;
}


.projects-section {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 pt-20;
}

.project-card {
    @apply overflow-hidden hover:scale-105 transition-transform duration-200 ease-in-out rounded-md;
}

.project-title {
    @apply p-4 bg-zinc-900 opacity-95 text-center text-white;
}

.project-heading {
    @apply text-3xl font-medium hover:text-green-500;
}

.project-sub-heading {
    @apply text-2xl font-medium text-green-500;
}

.project-content {
    @apply h-80 bg-cover bg-top;
}

.skill-heading {
    @apply text-2xl text-green-500 text-center mb-4 px-4 flex flex-col items-center justify-center;
}

.text-box {
    @apply border-2 border-zinc-50 p-4 rounded-md text-2xl text-center;
}

.code-snippet-button{
    @apply px-4 py-2 bg-transparent border-2 border-green-500 rounded-md text-white hover:text-green-500;
}


.toggleButton {
    @apply bg-transparent border-green-500 border-2 text-white px-2 py-1 text-lg rounded-2xl hover:text-green-500 transition;
}


/* Judo stuff */
.judo-nav-button {
    @apply bg-slate-900 opacity-80 text-white rounded-md shadow-sm shadow-white px-4 py-2 font-semibold hover:scale-110 transition-transform duration-100 ease-in-out;
}

.judo-tech-button {
    @apply  p-1.5 m-0.5 text-left w-full shadow-sm shadow-white bg-slate-900 opacity-80;
}

.judo-word-button {
    @apply p-1.5 m-0.5 text-left w-full shadow-sm shadow-white bg-slate-900 opacity-80;
}

.btn-container {
    @apply border-red-500 hover:border-l-8 hover:scale-105 ml-1 my-1;
}

.card-button {
    @apply bg-slate-900 opacity-80 text-white rounded-md shadow-sm shadow-white px-4 py-2 font-semibold hover:scale-110 transition-transform duration-100 ease-in-out;
}

.video-player {
    @apply w-full md:w-1/2 rounded-md border-2 border-slate-900 place-self-center;
}
